body {
    font-family: Arial, sans-serif;
    background-image: url('../img_mp4/Login.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;/*固定背景照片，登录表单被放置在一个容器内，并应用背景的透明度和影像效果*/
  }

  .container {
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    backdrop-filter: blur(5px);/*毛玻璃*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group input[type="text"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .form-group input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
  }
  body {
    font-family: "Courier New", monospace;
  }